<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>
<body>
    <div class="navbar">
        <!-- <img src="logo2.png" alt="" class="logo"> -->
        <h1 class="head">LitWorld</h1>
        <a href="/home" class="home">Home</a>
        <a href="/categories">Categories</a>
        <a href="/contact">Contact</a>
        <a href="/aboutUs">About</a>
        <input type="text" placeholder="Search..." class="search">
        <div class="logout"></div><a href="/">Logout</a></div>
        
    </div>
    <div class="intro">Welcome to our online bookstore, where words come to life and stories await discovery. Step into a world of literary wonder, where every turn of the page brings new adventures, emotions, and insights.</div>
    <div class="shop-section">
        <div class="box1 box">
            <div class=box-content>
            <h2><a href="https://www.amazon.com/dp/B083RZCZ7W" style="color:black">The Recognitions</a></h2>
            <img class="box1-img" src="https://m.media-amazon.com/images/I/81ouzVO5baL._AC_UY218_.jpg"></img>
            <p>(Humor & Entertainment)</p>
        </div>
        </div>
        <div class="box2 box">
            <div class=box-content>
                <h2><a href="https://www.amazon.com/dp/B00351YF0C" style="color:black">Moving Pictures</a></h2>
                <img class="box2-img" src="https://m.media-amazon.com/images/I/91LzvpgxNaL._AC_UY218_.jpg" onclick=""></img>
                <p>(Humor & Entertainment)</p>
            </div>
        </div>
        <div class="box3 box">
            <div class=box-content>
                <h2><a href="https://www.amazon.com/dp/B0112BS13S" style="color:black">Ringo: With a Little Help</a></h2>
                <img class="box3-img" src="https://m.media-amazon.com/images/I/81UcL9J8RGL._AC_UY218_.jpg"></img>
                <p>(Arts & Photography)</p>
            </div>
        </div>
        <div class="box4 box">
            <div class=box-content>
                <h2><a href="https://www.amazon.com/gp/product/1728290732?ref_=dbs_m_mng_rwt_calw_tpbk_0&storeType=ebooks&sr=8-2" style="color:black">My Fault</a></h2>
                <img class="box4-img" src="https://m.media-amazon.com/images/I/71ZwUauQCTL._AC_UY218_.jpg"></img>
                <p>(Teen & Young Adult)</p>
            </div>
        </div>
        <div class="box5 box">
            <div class=box-content>
            <h2><a href="https://www.amazon.com/dp/B08KND7X4Z" style="color:black">Letters to Camondo</a></h2>
            <img class="box5-img" src="https://m.media-amazon.com/images/I/7112SOCyuNL._AC_UY218_.jpg"></img>
            <p>(Arts & Photography)</p>
        </div>
        </div>
        <div class="box6 box">
            <div class=box-content>
                <h2><a href="https://www.amazon.com/dp/B000FBJCK8" style="color:black">Eragon</a></h2>
                <img class="box6-img" src="https://m.media-amazon.com/images/I/91mCNsplqQL._AC_UY218_.jpg"></img>
                <p>(Teen & Young Adult)</p>
            </div>
        </div>
        <div class="box7 box">
            <div class=box-content>
                <h2><a href="https://www.amazon.com/dp/B000OVLKMM" style="color:black">The Glass Castle</a> </h2>
                <img class="box7-img" src="https://m.media-amazon.com/images/I/71td5GDUZML._AC_UY218_.jpg"></img>
                <p>(Parenting & RelationShips)</p>
            </div>
        </div>
        <div class="box8 box">
            <div class=box-content>
                <h2><a href="https://www.amazon.com/dp/B0BNWSS8H3" style="color:black">The Cruise</a></h2>
                <img class="box8-img" src="https://m.media-amazon.com/images/I/71WFLJ+UejL._AC_UY218_.jpg"></img>
                <p>(Parenting & RelationShips)</p>
            </div>
        </div>
    </div>
    <footer>
        <div class="footerContainer">
            <div class="socialIcons">
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-google-plus"></i></a>
                <a href=""><i class="fa-brands fa-youtube"></i></a>
            </div>
            <div class="footerNav">
                <ul><li><a href="/home">Home</a></li>
                    <li><a href="/categories">Categories</a></li>
                    <li><a href="/aboutUs">About</a></li>
                    <li><a href="/conatct">Contact Us</a></li>
                    <li><a href="/aboutUs">Our Team</a></li>
                </ul>
            </div>
            
        </div>
        <div class="footerBottom">
            <p>Copyright &copy;2024; Designed by <span class="designer">LitWorld</span></p>
        </div>
    </footer>
</body>
</html>